* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 43px;

  & img {
    width: 95px;
  }
  & ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 30px;

    & li {
      &:nth-last-of-type(2) a {
        border: 2px solid #faa5bc;
        padding: 10px 20px;
        border-radius: 25px;
        margin-right: 20px;

        &:hover {
          background-color: #faa5bca1;
          color: rgb(248, 248, 248);
          border: 2px solid #faa5bc;
          font-size: 16.5px;

          &::after {
            width: 0;
          }
        }
      }

      &:nth-last-of-type(1) a {
        padding: 10px 20px;
        border-radius: 25px;
        background-color: #faa5bc;
        color: white;

        &:hover {
          background-color: #faa5bc73;
          color: rgb(0, 0, 0);
          border: 2px solid #faa5bc;
          font-size: 16.5px;

          &::after {
            width: 0;
          }
        }
      }
      & a {
        color: black;
        font-size: 1rem;
        text-align: center;
        font-family: "Poppins", serif;
        padding: 0 20px;
        transition: all 0.2s;
        position: relative;
        padding-bottom: 7px;

        &::after {
          cursor: pointer;
          content: "";
          position: absolute;
          left: 10px;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: #faa5bc;
          transition: width 0.3s ease-in-out;
        }
        &:hover::after {
          width: 80%;
        }
      }
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;

  & main {
    margin: 0 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .card {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: #ffbda6;
      width: 400px;
      height: 90px;
      padding: 15px 20px;
      border-radius: 4px;
      text-align: start;
      align-items: center;
      font-size: 15px;

      & img {
        width: 70px;
        height: 70px;
      }
      & #userTitle {
        font-weight: 600;
      }
    }

    & .imageHome {
      margin-top: 90px;

      & img {
        width: 85vw;
      }
    }

    & form {
      margin-top: 2.5rem;
      font-family: "Poppins", serif;
      margin-right: 245px;

      & input {
        padding: 12px 27px;
        width: 300px;
        border: 2px solid #faa5bc;
        border-radius: 50px;
        font-size: 16px;
        position: absolute;
      }
      & button {
        padding: 15px 25px;
        background-color: #faa5bc;
        font-size: 16px;
        border-radius: 50px;
        border: none;
        color: white;
        position: relative;
        left: 256px;
        width: 200px;
        height: 47px;
      }
    }
  }

  & h1 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 300;

    & span {
      text-decoration: underline;
      text-decoration-color: #faa5bc;
      text-decoration-thickness: 4px;
    }
    & p {
      width: 100%;
      font-size: 20px;
    }
  }
}

.logos {
  margin-top: 50px;
  background-color: #faa5bc;
  padding: 18px;
  width: 100vw;

  & p {
    margin-bottom: 20px;
  }

  & .logo-brands {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

    & img {
      height: 100%;
    }
  }
}
